LoadPlugin "write_http"
<Plugin write_http>
    <Node "librato">
        URL "https://collectd.librato.com/v1/measurements"
        User "$LIBRATO_USERNAME"
        Password "$LIBRATO_PASSWORD"
        Format "JSON"
        BufferSize 32768
        LogHttpError true
    </Node>
</Plugin>
